::-moz-selection {background: grey;}

::selection {background: grey;}

body {
	font-family: 'Josefin Sans', sans-serif;
}

.rd {
	margin: 0;
	text-align: left;
	font-size: .1em;
	color: white;
}

.one {
	height: 100vh;
	width: 100%;
	background-color: #ffc952;
}

.two {
	background-color: #47b8e0;
}

.three {
	background-color: #67D5B5;
}

.four {
	background-color: #8283a7;
}

.phone_main {
	width: 28%;
	height: 50em;
	border: .7em solid black;
	border-radius: 1em;
	margin: 0 auto;
	background-color: #f15c5c;
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	position: relative;
	top: 4em;
}

.phone_main_2 {
	width: 28%;
	height: 50em;
	border: .7em solid black;
	border-radius: 1em;
	margin: 0 auto;
	background-color: white;
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
	position: relative;
	top: 4em;
}

.phone_tail {
	width: 100%;
	height: 5em;
	background-color: black;
	position: relative;
	top: 33em;
}

.phone_tail_2 {
	width: 100%;
	height: 5em;
	background-color: black;
	position: relative;
	top: 35.7em;
}

.phone_circle_tail {
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	top: 26px;
}

.phone_box_sq {
	width: 27px;
	height: 27px;
	background-color: white;
	border-radius: 5px;
	margin: 0 80%;
	position: relative;
	bottom: 3px;
}

.phone_tail_tri {
	width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 23px solid white;
	margin: 0 15%;
	position: relative;
	bottom: 30px;
}

.phone_head {
	width: 100%;
	height: 3em;
	background-color: black;
}

.phone_circle_head {
	width: 90px;
	height: 15px;
	background-color: white;
	border-radius: 1em;
	margin: 0 auto;
	position: relative;
	top: 12px;
}

.phone_status {
	width: 100%;
	height: 2em;
	background-color: #d6ecfa;
	position: relative;
	z-index: 0;
}

.phone_toolbar {
	width: 100%;
	height: 4.5em;
	background-color: #f15c5c;
	position: relative;
	z-index: 0;
}

.title {
	font-size: 4em;
	color: white;
	text-align: center;
	position: relative;
	top: 30%;
	text-shadow: rgba(0,0,0,0.4) 0px 12px 10px;
}

.title_2 {
	margin: 0;
	font-size: 2em;
	color: white;
	position: relative;
	left: 2em;
	bottom: .3em;
}

.fa {
	margin: 0;
	color: white;
	position: relative;
	top: .6em;
	left: .5em;
}

.phone_nav {
	width: 80%;
	height: 84.4%;
	float: left;
	background-color: #d6ecfa;
	position: relative;
	z-index: 1;
}

.phone_header {
	width: 100%;
	height: 15em;
	background-color: #f15c5c;
}
